services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: odrill
      POSTGRES_PASSWORD: odrill
      POSTGRES_DB: odrill_dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
